{{#each showcase}}
<section id="showcase-cpd">
	<div class="container">
		<h2 class="section-title">Recent Work Showcase</h2>
	
		<div class="container">
			<div class="browsers">
			  <div class="browser">
			    <div class="browser-top-bar">
			      <div class="browser-circle"></div>
			      <div class="browser-circle"></div>
			      <div class="browser-circle"></div>
			    </div>
			  <div class="browser-content"></div>
			  </div>
			  <div class="browser">
			    <div class="browser-top-bar">
			      <div class="browser-circle"></div>
			      <div class="browser-circle"></div>
			      <div class="browser-circle"></div>
			    </div>
			    <div class="browser-content">
			    </div>
			  </div>
			  <div class = "browser">
			    <div class="browser-top-bar">
			      <div class="browser-circle"></div>
			      <div class="browser-circle"></div>
			      <div class="browser-circle"></div>
			    </div>
			    <div class="browser-content"></div>
			  </div>
			</div>
			<div class="cover"></div>		
		</div>
	
		<div class="details">
			<aside>
				<h4>{{title}}</h4>
				{{{marked intro}}}
			</aside>
			<article>
				<h4>Project</h4>
				{{{marked project}}}

				<h4>Role</h4>
				{{{marked role}}}

				<h4>Technologies</h4>
				{{{marked tech}}}

				<p>Watch here for the "how I did it" post.</p>
			</article>
		</div>
	</div>
</section>
{{/each}}

{{#if projects}}
<section id="showcase-smaller">
	<div class="container">
		<h2 class="section-title">Other Works</h2>

		<div class="cards">
			{{#each projects}}
				<!-- START CPD API CARD -->
				<div class="card">
			
					<div class="card-image">
						<a href="{{link}}" target="_blank"><img src="{{imgurl}}" alt="{{imgalt}}"></a>
					</div>
					<div class="card-header">
						{{title}}
					</div>
					<div class="card-copy">
						{{{marked description}}}
				
						<p><a href="{{linkurl}}" target="_blank" class="button">{{linktext}}</a> </p>
					</div>
				</div>
				<!-- END CPD API CARD -->
			{{/each}}
		</div>
	</div>
</section>
{{/if}}

{{#if twitter}}
	<section id="twitter">
		<h2 class="section-title">On <a href="https://twitter.com/mattjiggins" target="_blank">twitter</a></h2>
		<div class="cards">
			{{#each twitter}}
				<div class="card tweet">
					<div class="card-copy">
						<p>{{{formatTweet text retweeted_status}}} {{#if in_reply_to_status_id}}<small> &mdash; <a href="https://twitter.com/{{in_reply_to_screen_name}}/status/{{in_reply_to_status_id_str}}" target="_blank">conversation</a></small>{{/if}} &mdash; <small>{{dateFormat created_at}}</small> <a href="http://twitter.com/{{user.screen_name}}/status/{{id_str}}" class="action"><i class="fa fa-retweet"></i></a> </p>
					</div>
				</div>
			{{/each}}
		</div>
	</section>
{{/if}}

{{#if photos}}
	<section id="photos">
	
		<div class="content">
			<h2 class="section-title">Photography</h2>
			<p class="section-title-link"><a href="http://photo.jiggins.ca" target="_blank">Full Portfolio &rarr;</a></p>
			<div class="photo-stream">
				<ul class="photos">
					{{#each photos}}
						<li>
							<img
								srcset="{{img_200}}  440w, 
								{{img_200}}  200w"
								src="{{img_200}}"
								alt="{{name}}"
								class="img-fit"
								data-jslghtbx="{{img_1600}}">
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</section>
{{/if}}